.product-container{
    background-color: white;
    width: 19.5rem;
    padding: 10px;
    box-shadow: 0 0 10px #2c3033;
    border-radius: 10px
}
.product-detail{
    height: 260px;
} 
.product-category{
    text-transform: capitalize;
    font-size: 28px;
    font-weight: 200;
    font-family: 'Lato', sans-serif;
}
.product-name{
    margin-top: 15px;
    font-size: 17px;
    font-weight: 400;
}
.product-name .product-name-link{
    color: #041e3c;
}
.product-price{
    font-size: 30px;
    color: chocolate;
    font-weight: 700;
}
span.MuiRating-icon.MuiRating-iconFilled{
    color: #F07F00;
    margin-bottom: 20px;
    
}