.footer-container{
    background-color: #232F3E;
    padding: 80px 0px 0px 20px; 
    font-family: 'Lato', sans-serif;   
}
.footer-container a{
    color: #D7DDC8;
}
.backTo{
    text-align: center;
    background-color: #485769;
    color: white;
    cursor: pointer;
    padding: 10px 0px 10px 0px;
    font-family: 'Lato', sans-serif;
}

/* footer2 design */
.footer2-main{
    background-color: #131A22;
    border-top: 0.5px solid #5B5E60;
}    
.footer-identity-name h3{
    font-size: 18px;    
    font-weight: 400;
    color: white;
}
.footer2-copyright{
    color: #e9a63b;
    font-weight: 700;
}
.footer-imgs-part li{
    border: 2px solid #f7f4f3;
    border-radius: 50%;
    width: 37px;
    height: 37px;
    display: inline-block;
    text-align: center;
    line-height: 37px;
    margin-right: 16px;
    color: #f8f3f0;
    transition: all .3s linear;
}
.footer-imgs-part li:hover{
    border: 2px solid #ED9D1B;
    color: #ED9D1B;
    background-color:#ED9D1B;
}

.footer2-svg{
    /* display: inline-block; */
    font-size: inherit;
    height: 1.2em;
    /* overflow: visible; */
    vertical-align: -0.125em;
    width: 1.225em;
    fill: white;
}