@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.add_to_card{
  background-image: linear-gradient(to right, #133271 , #2185AC,#4894AA,#1F7186,#032E40);
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 16px;
  margin-left: 10px;
}
.Proceed-Checkout{
  background-image: linear-gradient(to right,#190431,#390970,#4B0798,#680CD0,#984AF1);
  font-family: 'Lato', sans-serif;
  color: white;
  font-weight: 600;
  
}
.product_detail{
  background-image: linear-gradient(to right, #860A00,#A62E00,#C34C00,#F07F00);  
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 16px;
  margin-left: 10px;
}
.review_product{
  background-image: linear-gradient(to right,#0F4600,#2A9100,#82BC02,#D5E700);
  font-family: 'Lato', sans-serif;
  color: white;
  font-weight: 600;
}
.place_order{
  background-image: linear-gradient(to right, #D31A5E,#DF393F,#E7512E,#F06F13);
  font-family: 'Lato', sans-serif;
  border-color: #D31A5E;
  font-weight: 600;
  font-size: 16px;
  margin-top: 25px;
 
}